name: Build Workflow
on: push
jobs:
  build:
    name: Build job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
          
      - name: Regenerate JavaDoc
        run: |
          mkdir ./javadoc
          cd ./javadoc
          pwd
